<div class="flex items-center justify-center mt-9">
  <div>
    <p class="text-amber-400 text-4xl">Taste of your homely food !</p>
    <p class="text-5xl font-bold mt-3">Delicious food bite!</p>
    <br>
    <br>
    <span class="font-light">please choose your favourite food for everyday. We will deliver it to your doorstep.</span>
    <a routerLink="/order" class="inline-block p-2.5 bg-amber-400 text-white my-7 rounded-xl w-36 text-center">Order Now</a>
    <div class="flex items-center justify-between md:w-1/4">
      <a href="#"><mat-icon svgIcon="facebook"></mat-icon></a>
      <a href="#"><mat-icon svgIcon="instagram"></mat-icon></a>
      <a href="#"><mat-icon svgIcon="whatsapp"></mat-icon></a>
    </div>
  </div>
  <div>
    <img ngSrc="assets/images/food.jpeg" alt="burger" height="651" width="734" priority>
  </div>
</div>
